# Impors

In [8]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import balanced_accuracy_score, confusion_matrix

# Load data

In [9]:
df_train = pd.read_csv('data/ready/train.csv')
print(df_train.shape)
df_train.head()

(27838, 18)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income,native.country_is_NA,workclass_is_NA,occupation_is_NA
0,31,3,124827,8,11,2,11,0,4,1,0,0,40,38,>50K,False,False,False
1,27,4,89718,15,10,5,11,3,4,0,0,0,40,38,<=50K,False,False,False
2,37,3,224947,8,11,4,7,1,4,1,0,0,40,38,<=50K,False,False,False
3,40,6,269733,8,11,4,2,1,4,1,0,0,40,38,<=50K,False,False,False
4,57,4,125000,14,15,2,9,0,4,1,0,0,35,38,>50K,False,False,False

In [10]:
df_val = pd.read_csv('data/ready/val.csv')
print(df_val.shape)
df_val.head()

(3094, 18)

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income,native.country_is_NA,workclass_is_NA,occupation_is_NA
0,58,3,128162,11,9,0,11,1,4,0,0,0,24,38,<=50K,False,False,False
1,25,3,570821,15,10,2,6,0,4,1,0,0,40,38,<=50K,False,False,False
2,50,3,43764,10,16,2,9,0,4,1,15024,0,50,38,>50K,False,False,False
3,21,7,207988,11,9,2,14,2,4,0,0,0,35,38,<=50K,False,True,True
4,41,5,112362,11,9,2,4,0,4,1,0,0,38,38,<=50K,False,False,False

# Prepare dataset

## Prep target

In [11]:
target_dict = {'<=50K': 0
              , '>50K': 1}

df_val['income'].replace(target_dict, inplace=True)
df_val['income'].value_counts()

0    2356
1     738
Name: income, dtype: int64

In [12]:
df_train['income'].replace(target_dict, inplace=True)
df_train['income'].value_counts()

0    21123
1     6715
Name: income, dtype: int64

# sklearn model

In [14]:
lr = RandomForestClassifier(n_estimators=1, bootstrap=False)

lr.fit(df_train.drop(columns='income'), df_train['income'])

y_pred_train = lr.predict(df_train.drop(columns='income'))
y_pred_val = lr.predict(df_val.drop(columns='income'))

print('Train Balanced accuracy:', balanced_accuracy_score(df_train['income'], y_pred_train))
print('Validation Balanced accuracy:', balanced_accuracy_score(df_val['income'], y_pred_val))

display(confusion_matrix(df_val['income'], y_pred_val))

Train Balanced accuracy: 1.0
Validation Balanced accuracy: 0.7381171753143678

array([[2051,  305],
       [ 291,  447]])

In [15]:
lr = RandomForestClassifier(min_samples_leaf=3)

lr.fit(df_train.drop(columns='income'), df_train['income'])

y_pred_train = lr.predict(df_train.drop(columns='income'))
y_pred_val = lr.predict(df_val.drop(columns='income'))

print('Train Balanced accuracy:', balanced_accuracy_score(df_train['income'], y_pred_train))
print('Validation Balanced accuracy:', balanced_accuracy_score(df_val['income'], y_pred_val))

display(confusion_matrix(df_val['income'], y_pred_val))

Train Balanced accuracy: 0.8549197130631074
Validation Balanced accuracy: 0.7873209610703917

array([[2219,  137],
       [ 271,  467]])

In [16]:
lr = RandomForestClassifier(min_samples_leaf=5)

lr.fit(df_train.drop(columns='income'), df_train['income'])

y_pred_train = lr.predict(df_train.drop(columns='income'))
y_pred_val = lr.predict(df_val.drop(columns='income'))

print('Train Balanced accuracy:', balanced_accuracy_score(df_train['income'], y_pred_train))
print('Validation Balanced accuracy:', balanced_accuracy_score(df_val['income'], y_pred_val))

display(confusion_matrix(df_val['income'], y_pred_val))

Train Balanced accuracy: 0.827813936236818
Validation Balanced accuracy: 0.7889290331782775

array([[2217,  139],
       [ 268,  470]])

In [17]:
lr = RandomForestClassifier(min_samples_leaf=10)

lr.fit(df_train.drop(columns='income'), df_train['income'])

y_pred_train = lr.predict(df_train.drop(columns='income'))
y_pred_val = lr.predict(df_val.drop(columns='income'))

print('Train Balanced accuracy:', balanced_accuracy_score(df_train['income'], y_pred_train))
print('Validation Balanced accuracy:', balanced_accuracy_score(df_val['income'], y_pred_val))

display(confusion_matrix(df_val['income'], y_pred_val))

Train Balanced accuracy: 0.8013360070323841
Validation Balanced accuracy: 0.7877454092877092

array([[2221,  135],
       [ 271,  467]])

In [18]:
lr = RandomForestClassifier(min_samples_leaf=5, max_features=0.5)

lr.fit(df_train.drop(columns='income'), df_train['income'])

y_pred_train = lr.predict(df_train.drop(columns='income'))
y_pred_val = lr.predict(df_val.drop(columns='income'))

print('Train Balanced accuracy:', balanced_accuracy_score(df_train['income'], y_pred_train))
print('Validation Balanced accuracy:', balanced_accuracy_score(df_val['income'], y_pred_val))

display(confusion_matrix(df_val['income'], y_pred_val))

Train Balanced accuracy: 0.857316690184206
Validation Balanced accuracy: 0.7827417514412836

array([[2207,  149],
       [ 274,  464]])

In [19]:
lr = RandomForestClassifier(min_samples_leaf=5, max_features=0.75)

lr.fit(df_train.drop(columns='income'), df_train['income'])

y_pred_train = lr.predict(df_train.drop(columns='income'))
y_pred_val = lr.predict(df_val.drop(columns='income'))

print('Train Balanced accuracy:', balanced_accuracy_score(df_train['income'], y_pred_train))
print('Validation Balanced accuracy:', balanced_accuracy_score(df_val['income'], y_pred_val))

display(confusion_matrix(df_val['income'], y_pred_val))

Train Balanced accuracy: 0.8674418871081266
Validation Balanced accuracy: 0.7835825960127174

array([[2195,  161],
       [ 269,  469]])